PROJECT_NAME=customer360-platform
ENVIRONMENT=development

POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=customer360
POSTGRES_USER=customer360
POSTGRES_PASSWORD=customer360

API_HOST=0.0.0.0
API_PORT=8000
DASHBOARD_PORT=8501
